<div class="container custom-container-2">
    <div class="no-data text-center">
        <a class="btn btn-outline-primary" [routerLink]="['/create-product']">Add Book</a>
    </div>

    <div>
        <h3 class="mb-3 text-center">Book Details</h3>

        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Description</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{Book.id}}</td>
                        <td>{{Book.title}}</td>
                        <td>{{Book.author}}</td>
                        <td>{{Book.description}}</td>
                        <td>
                            <button class="edit">Edit</button>
                        </td>
                        <td>
                            <button class="delete" [routerLink]="['/']">Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>